html 
    head
        title #{title}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>


        style.
            .navbar {
                box-shadow: 0px 1px 10px 0px #e2dede;
                height: 100px;

            }
            .logo {
                color:#7fe5f0;
                font-size:2em;
                text-decoration:none;
                font-weight:500;
                margin-right:200px;
            }
            .logo:hover{
                color:#7fe5f0;
                font-size:2.2em;
            }
            .nav-link {
                font-size:1.5em !important; 
                color:#00b9c0 !important; 
                font-weight:500 !important; 
                margin-right:50px;
            }
            .active {
                font-size:1.5em !important; 
                color:#7fe5f0 !important; 
                font-weight:500 !important; 
                margin-right:50px;                
            }


    body

        nav.navbar.navbar-light.navbar-expand-lg.navbar-light.bg-light
            div.container-fluid
                a.logo(href='#') TryExpress.com 
                    
                div.collapse.navbar-collapse#navbarSupportedContent
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        li.nav-item     
                            a.nav-link.active(href='/') Home 
                        li.nav-item 
                            a.nav-link(href='/services') Our Services 
                        li.nav-item 
                            a.nav-link(href='/contact') Contact Us 
                    form.d-flex
                        input.form-control.me-2(type='search', placeholder='Search', aria-label="Search")
                        button.btn.btn-info(type='submit',style='background-color:#7fe5f0') Search
        
        main
            
            h1.h1.py-4(style='color:#7fe5f0; margin-top:5px; text-align:center') Our Services

            div#carouselExampleIndicators.carousel.slide(data-mdb-ride="carousel",style='width:60%; margin-left:20%;box-shadow: 0px 1px 10px 0px #e2dede')
                div.carousel-indicators
                    button.active(type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" aria-current="true" aria-label="Slide 1")
                    button(type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1" aria-label="Slide 2")
                    button(type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2" aria-label="Slide 3")
                    
                
                div.carousel-inner(style='')
                    div.carousel-item.active
                        img.d-block.w-100(src="https://mdbootstrap.com/img/new/slides/040.jpg",alt="...")
                    div.carousel-item
                        img.d-block.w-100(src="https://mdbootstrap.com/img/new/slides/042.jpg",alt="...")
                    div.carousel-item
                        img.d-block.w-100(src="https://mdbootstrap.com/img/new/slides/043.jpg",alt="...")


            script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js")